<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/flaticon.webp') }}" sizes="32x32">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/use.fontawesome.com_releases_v5.15.3_js_all.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>Blackjack Predictor</title>
{% block content %}{% endblock %}