<!DOCTYPE html>
<html>
  {% include 'head.html' %}
<header>
    <div class="hero is-black">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Blackjack Predictor
                </h1>
                <h2 class="subtitle">
                    Predice el resultado de una mano de blackjack
                </h2>
            </div>
        </div>
    </div>
</header>
<body style="margin: 0; padding: 0; height: 100%; overflow: hidden;">
    <div style="background-image: url('/static/img/bg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                height: 100vh;">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <!-- Contenedor izquierdo (Historial del player) -->
                    <div class="column is-one-third box" style="background-color: #0000007A; color: #fff">
                        <h2>Historial del Player</h2>
                        {% if historial_player %}
                        <table style="border-collapse: collapse; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="color: white;">N°</th>
                                        <th style="color: white;">Carta 1</th>
                                        <th style="color: white;">Carta 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carta in historial_player %}
                                        <tr>
                                            <td>{{ carta[0] }}</td>
                                            <td>{{ carta[1] }}</td>
                                            <td>{{ carta[2] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No hay historial disponible</p>
                        {% endif %}
                    </div>

                    <!-- Contenedor medio (Formulario para ingresar cartas) -->
                    <div class="column is-one-third box" style="margin-left: 1%; margin-right: 1%;">
                        <form action="/predict" method="post">
                            <label for="firstplayercard">Selecciona la primera y segunda carta del player:</label>
                            <select name="firstplayercard" required>
                                {% for cartas in cartas %}
                                <option value="{{ cartas[1] }}">{{ cartas[1] }}</option>
                                {% endfor %}
                            </select>
                            <select name="secondplayercard" required>
                                {% for cartas in cartas %}
                                <option value="{{ cartas[1] }}">{{ cartas[1] }}</option>
                                {% endfor %}
                            </select>
                            <label for="dealer_card">Seleccionar carta del dealer:</label>
                            <select name="dealer_card" required>
                                {% for cartas in cartas %}
                                <option value="{{ cartas[1] }}">{{ cartas[1] }}</option>
                                {% endfor %}
                            </select>
                            <button class="button is-primary login-button" type="submit">Guardar</button>
                        </form>

                        <!-- Mostrar información adicional -->
                        {% if puntuacion_player and puntuacion_dealer %}
                        <p>Puntuación del Player: {{ puntuacion_player }}</p>
                        <p>Puntuación del Dealer: {{ puntuacion_dealer }}</p>
                        <p>Siguiente carta adivinada: {{ carta_siguiente }}</p>
                        <p>Ganador: {{ ganador }}</p>
                        {% endif %}
                    </div>

                    <!-- Contenedor derecho (Historial del dealer) -->
                    <div class="column is-one-third box" style="background-color: #0000007A; color: #fff">
                        <h2>Historial del Dealer</h2>
                        {% if historial_dealer %}
                            <table style="border-collapse: collapse; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="color: white;">N°</th>
                                        <th style="color: white;">Carta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carta in historial_dealer %}
                                        <tr>
                                            <td>{{ carta[0] }}</td>
                                            <td>{{ carta[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No hay historial disponible</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
